#HomePage{
    min-height: 100vh;
    height: auto;
    background: linear-gradient(180deg, #374151 0%, #111827 100%);
}

#HomePage .wall .lastUploadProject{
    box-sizing: border-box;
    grid-template-columns: 1.5fr 1fr;
}

#HomePage .wall .lastUploadProject .thumbnail{
    border-radius: 10px;
    object-fit: cover;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#HomePage .wall .lastUploadProject:hover .thumbnail img{
    transform: scale(110%);
}

#HomePage .wall .lastUploadProject .thumbnail img{
    width: 100%;
    height: 100%;
}

#HomePage .wall .lastUploadProject .projectInfo h4{
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    opacity: 0.6;
}

#HomePage .wall .lastUploadProject .projectInfo .uploadedDate div{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.60);
}

#HomePage .wall .lastUploadProject .projectInfo h1{
    font-size: 26px;
    font-weight: 400;
    line-height: 38px;
}

#HomePage .wall .lastUploadProject .projectInfo p{
    color: rgba(255, 255, 255, 0.60);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    width: 83%;
    letter-spacing: 1px;
}

#HomePage .wall .lastUploadProject .projectInfo .ownerInfo img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

#HomePage .wall .lastUploadProject .projectInfo .ownerInfo h2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 3px;
}

#HomePage .wall .lastUploadProject .projectInfo .ownerInfo h3{
    font-size: 16px;
    font-weight: 400;
    opacity: 0.6;
}

#HomePage .w-75{
    width: 70% !important;
}

#HomePage .projectCardSet{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 50px;
    margin-top: 50px;
}

#HomePage .footer{
    font-size: 18px;
    font-weight: 400;
    opacity: 0.6;
    letter-spacing: 1px;
}

#HomePage .searchHistory{
    position: absolute;
    top: 60px;
    width: 15.5vw;
    background: #111827;
    z-index: 1000;
    margin-top: 3px;
    overflow-y: scroll;
    padding: 15px;
    animation: animation 0.5s ease-in;
}

#HomePage .searchHistory::-webkit-scrollbar{
    width: 0;
}

#HomePage .searchHistory p{
    font-size: 16px;
    border-bottom: 2px solid #4B5563;
    padding-bottom: 5px;
}


#ProjectCard .infoHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#ProjectCard .infoHead *{
    width: auto !important;
}

#ProjectCard .projectInfo .infoHead .uploadedDate div{
    width: 6px !important;
}

@keyframes animation {
    0% {
        height: 0;
    }
    100% {
        height: 18vh;
    }
}


@media screen and (max-width: 1169px){
    #HomePage .w-75{
        width: 85% !important;
    }
    #HomePage .projectCardSet {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 991px){
    #HomePage .wall .lastUploadProject .thumbnail {
        width: 100%;
    }

    #HomePage .wall .lastUploadProject{
        padding-bottom: 15px;
        border-bottom: 2px solid rgba(255, 255, 255, 0.10);
        display: flex !important;
    }
    #HomePage .projectCardSet {
        grid-template-columns: repeat(1, 1fr);
    }
}

